body, html {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

.top{
    background: rgb(228, 178, 120);
}

.top-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 5%; /* use relative padding */
    text-align: center;
    font-size: 1.5rem; /* use relative font size */
    font-family: Lato;
    color: black;
    background-color: rgba(228, 178, 120, 0.75);
    z-index: 1;
    backdrop-filter: blur(10px);
}

.top-text-1:hover{
    color: papayawhip;
    text-decoration: underline;
    cursor: pointer;
}

.space{
    height: 5rem;
}

/**/
.homepage{
    width: auto;
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    justify-content: flex-start;
}

.description-img-1{
    width: 34vw;
    position: relative;
    overflow: hidden;
}

.description-img-1 img {
    width: 100%;
    height: auto;
    transition: transform 0.5s, opacity 0.5s;
}

.description-img-1:hover img {
    transform: scale(1.1) translateZ(0);
    opacity: 0.8;
  }

.description-text-1{
    padding-top: 0%;
    margin-bottom: 0;
    font-family: Merriweather;
    font-size: 2.4vw;
    letter-spacing: rem;
    padding-left: 3rem;
}

.description-text-2{
    margin-top: 0;
    font-family: Lato;
    font-size: 1.75vw;
    letter-spacing: 0.03rem;
    padding-left: 3rem;
}

.description-img-2 {
    width: 23vw; /* Ensures all images have the same width */
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.description-img-2 img {
    width: 100%; /* Ensures images fill the container */
    height: auto;
    transition: transform 0.5s, opacity 0.5s;
}

.description-img-2:hover img {
    transform: scale(1.1) translateZ(0);
    opacity: 0.8;
}

.bottom{
    background: rgb(228, 178, 120);
}

body {
    margin: 0; /* set margin to 0 */
}

.end{
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.05em 5%; /* use relative padding */
    text-align: left;
    font-size: 1.5rem; /* use relative font size */
    font-family: Lato;
    color: black;
    background-color: rgba(228, 178, 120, 0.9);
    backdrop-filter: blur(10px);
}

.second a {
    color: black;
}

.frist{
    font-family: Lato;
    font-size: 2.5vw;
    font-weight: bold;
    padding-top: 8%;
    padding-bottom: 8%;
}

.second{
    font-family: Lato;
    font-size: 1.6vw;
}


.end-text-right{
    font-family: Lato;
    font-size: 1.6vw; 
}

.end-text-right:hover{
    color: papayawhip;
    text-decoration: underline;
    cursor: pointer;
}

/*Project*/
.project_block{
    text-align: center;
    font-size: 2.8vw;
    font-family: Merriweather;
    letter-spacing: 0.05rem;
}

.project_block:hover{
    color: rgb(254, 213, 147);
    text-decoration: underline;
    cursor: pointer;
}

.bio_block{
    text-align: center;
    font-size: 3.5vw;
    font-family: Merriweather;
    letter-spacing: 0.05rem;
}

.bio_block:hover{
    color: rgb(254, 213, 147);
    text-decoration: underline;
    cursor: pointer;
}

.project {
    display: flex;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    font-size: 1.8vw; /* use relative font size */
    font-family: Lato;
    color: black;
    backdrop-filter: blur(10px);
}

.project_img {
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.project_img_80 {
    font-size: 80%;
}

.project_img img {
    width: 46vw;
    height: 46vh;
}

.project_img iframe {
    width: 46vw;
    height: 46vh;
}

/*Media*/
@media  (max-width: 1000px) {
    .description-text-2{
        margin-top: 0;
        font-family: Lato;
        font-size: 1.65vw;
        letter-spacing: 0.03rem;
        padding-left: 2.9rem;
    }
    
}

@media  (max-width: 850px) {
    .description-text-2{
        margin-top: 0;
        font-family: Lato;
        font-size: 1.65vw;
        letter-spacing: 0.03rem;
        padding-left: 2.8rem;
    }
}

@media (max-width: 750px) {
    /*project*/
    .project{
        flex-direction: column;
        align-items: center;
    }

    .project_img{
        width: 95vw;
        height: auto;
    }

    .project_img span{
        font-size: 150%;
    }

    .project_img img{
        width: 100%;
        height: auto;
    }

    .project_img iframe {
        width: 95vw;
        height: 50vh;
    }
    

    /**/
    .description-text-2{
        margin-top: 0;
        font-family: Lato;
        font-size: 1.6vw;
        letter-spacing: 0.03rem;
        padding-left: 1.5rem;
    }

    .frist{
        font-family: Lato;
        font-size: 0.8rem;
        font-weight: bold;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .second{
        font-family: Lato;
        font-size: 0.6rem;
    }
    
    
    .end-text-right{
        font-family: Lato;
        font-size: 0.6rem; 
    }
    
    .bio_block{
        text-align: center;
        font-family: Lato;
        font-size: 4.5vw;
    }

    .text-box {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        background-color: rgba(211, 211, 211, 0.8);
        font-family: Lato;
        font-size: 2.5vw;
        color: #323232;
        padding-left: 3%;
        box-sizing: border-box;
      }

    .news{
        display: flex;
        left: 0;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 3vw; /* use relative font size */
        font-family: Lato;
        color: black;
        backdrop-filter: blur(10px);
    }

    .preview-block {
        width: 100%;
        box-sizing: border-box;
        float: left;
    }
    
    .preview-block iframe {
        width: 90vw;
        height: 45vh;
    }    
}

@media (max-width: 600px) {
    /*project*/
    .project{
        flex-direction: column;
        align-items: center;
    }

    .project_img{
        width: 95vw;
        height: auto;
    }

    .project_img span{
        font-size: 150%;
    }

    .project_img img{
        width: 100%;
        height: auto;
    }

    .project_img iframe {
        width: 95vw;
        height: 50vh;
    }
    

    /**/
    .description{
        flex-direction: column;
        align-items: center;
    }

    .description-img-1{
        width: 100%;
        /*margin-bottom: 1rem;*/
    }

    .description-text{
        top: 0;
        width: 100%;
        max-width: 600px;
        /*padding: 0 1rem;*/
    }

    .description-text-2{
        font-size: 0.81rem;
        letter-spacing: 0.023rem;
    }

    .description-img-2 {
        width: 100%;
    }
    
    .description-img-2 img {
        width: 100%;
        height: auto;
    }

    .frist{
        font-family: Lato;
        font-size: 0.8rem;
        font-weight: bold;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .second{
        font-family: Lato;
        font-size: 0.6rem;
    }
    
    
    .end-text-right{
        font-family: Lato;
        font-size: 0.6rem; 
    }
    
    .bio_block{
        text-align: center;
        font-family: Lato;
        font-size: 4.5vw;
    }

    .text-box {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        background-color: rgba(211, 211, 211, 0.8);
        font-family: Lato;
        font-size: 2.5vw;
        color: #323232;
        padding-left: 3%;
        box-sizing: border-box;
      }

    .news{
        display: flex;
        left: 0;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 3vw; /* use relative font size */
        font-family: Lato;
        color: black;
        backdrop-filter: blur(10px);
    }

    .preview-block {
        width: 100%;
        box-sizing: border-box;
        float: left;
    }
    
    .preview-block iframe {
        width: 90vw;
        height: 45vh;
    }    
}

@media (max-width: 500px) {
    /*project*/
    .project{
        flex-direction: column;
        align-items: center;
    }

    .project_img{
        width: 95vw;
        height: auto;
    }

    .project_img span{
        font-size: 150%;
    }

    .project_img img{
        width: 100%;
        height: auto;
    }

    .project_img iframe {
        width: 95vw;
        height: 50vh;
    }
    

    /**/
    .description{
        flex-direction: column;
        align-items: center;
    }

    .description-img-1{
        width: 100%;
        /*margin-bottom: 1rem;*/
    }

    .description-text{
        top: 0;
        width: 100%;
        max-width: 600px;
        /*padding: 0 1rem;*/
    }

    .description-text-2{
        margin-top: 0;
        font-family: Lato;
        font-size: 0.7rem;
        letter-spacing: 0.02rem;
        padding-left: 1.5rem;
    }

    .description-img-2 {
        width: 100%;
    }
    
    .description-img-2 img {
        width: 100%;
        height: auto;
    }

    .frist{
        font-family: Lato;
        font-size: 0.8rem;
        font-weight: bold;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .second{
        font-family: Lato;
        font-size: 0.6rem;
    }
    
    
    .end-text-right{
        font-family: Lato;
        font-size: 0.6rem; 
    }
    
    .bio_block{
        text-align: center;
        font-family: Lato;
        font-size: 4.5vw;
    }

    .text-box {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        background-color: rgba(211, 211, 211, 0.8);
        font-family: Lato;
        font-size: 2.5vw;
        color: #323232;
        padding-left: 3%;
        box-sizing: border-box;
      }

    .news{
        display: flex;
        left: 0;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 3vw; /* use relative font size */
        font-family: Lato;
        color: black;
        backdrop-filter: blur(10px);
    }

    .preview-block {
        width: 100%;
        box-sizing: border-box;
        float: left;
    }
    
    .preview-block iframe {
        width: 90vw;
        height: 45vh;
    }    
}

@media (max-width: 450px) {
    /*project*/
    .project{
        flex-direction: column;
        align-items: center;
    }

    .project_img{
        width: 95vw;
        height: auto;
    }

    .project_img span{
        font-size: 150%;
    }

    .project_img img{
        width: 100%;
        height: auto;
    }

    .project_img iframe {
        width: 95vw;
        height: 50vh;
    }
    

    /**/
    .description{
        flex-direction: column;
        align-items: center;
    }

    .description-img-1{
        width: 100%;
        /*margin-bottom: 1rem;*/
    }

    .description-text{
        top: 0;
        width: 100%;
        max-width: 600px;
        /*padding: 0 1rem;*/
    }


    .description-text-2{
        margin-top: 0;
        font-family: Lato;
        font-size: 0.68rem;
        letter-spacing: 0.01rem;
        padding-left: 3vw;
    }

    .description-img-2 {
        width: 100%;
    }
    
    .description-img-2 img {
        width: 100%;
        height: auto;
    }

    .frist{
        font-family: Lato;
        font-size: 0.8rem;
        font-weight: bold;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .second{
        font-family: Lato;
        font-size: 0.6rem;
    }
    
    
    .end-text-right{
        font-family: Lato;
        font-size: 0.6rem; 
    }
    
    .bio_block{
        text-align: center;
        font-family: Lato;
        font-size: 4.5vw;
    }

    .text-box {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        background-color: rgba(211, 211, 211, 0.8);
        font-family: Lato;
        font-size: 2.5vw;
        color: #323232;
        padding-left: 3%;
        box-sizing: border-box;
      }

    .news{
        display: flex;
        left: 0;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 3vw; /* use relative font size */
        font-family: Lato;
        color: black;
        backdrop-filter: blur(10px);
    }

    .preview-block {
        width: 100%;
        box-sizing: border-box;
        float: left;
    }
    
    .preview-block iframe {
        width: 90vw;
        height: 45vh;
    }    
}