.top{
    background: rgb(228, 178, 120);
}

.top-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 5%; /* use relative padding */
    text-align: center;
    font-size: 1.5rem; /* use relative font size */
    font-family: Lato;
    color: black;
    background-color: rgba(228, 178, 120, 0.75);
    z-index: 1;
    backdrop-filter: blur(10px);
  }

.top-text-1:hover{
    color: papayawhip;
    text-decoration: underline;
    cursor: pointer;
}

.space{
    height: 4rem;
}

.homepage{
    width: auto;
    display: flex;
    flex-direction: column;
}

.name{
    font-family: Merriweather;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
}

.description-img{

}

.description-img-1{
    width: 48%;
}

.description-img-1 img {
    width: 100%;
    height: auto;
}

.description-text{
    text-align: center;
    /*padding: 0.1em 11%; /* use relative padding */
}

.description-text-1{
    padding-top: 10%;
    font-family: Merriweather;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

.description-text-2{
    font-family: Lato;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
}

.description-text-3{
    font-family: Lato;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    color:rgba(228, 178, 120, 0.1);
}

.description-text-3::selection {
    color:firebrick;
    background-color: rgba(228, 178, 120, 0.1);
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
    .description{
        flex-direction: column;
        align-items: center;
    }

    .description-img-1{
        width: 100%;
        /*margin-bottom: 1rem;*/
    }

    .description-text{
        width: 100%;
        max-width: 600px;
        /*padding: 0 1rem;*/
    }

    .description-text-1{
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }

    .description-text-2{
        font-size: 1rem;
        letter-spacing: 0.05rem;
    }

    .description-text-3{
        font-family: Lato;
        font-size: 1.8rem;
        letter-spacing: 0.05rem;
        color:rgba(228, 178, 120, 0.1);
    }
    
    .description-text-3::selection {
        color:firebrick;
        background-color: rgba(228, 178, 120, 0.1);
    }
}

.bottom{
    background: rgb(228, 178, 120);
}

body {
    margin: 0; /* set margin to 0 */
}

.end{
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.05em 5%; /* use relative padding */
    text-align: center;
    font-size: 1.5rem; /* use relative font size */
    font-family: Lato;
    color: black;
    background-color: rgba(228, 178, 120, 0.9);
    backdrop-filter: blur(10px);
}

.frist{
    font-family: Lato;
    font-size: 25px;
    font-weight: bold;
}

.second{
    font-family: Lato;
    font-size: 20px;
}

.end-text-right{
    font-family: Lato;
    font-size: 30px; 
    padding: 40px;   
}

.end-text-right:hover{
    color: papayawhip;
    text-decoration: underline;
    cursor: pointer;
}

.menu {
    position: relative;
    letter-spacing: 0.3px;
  }


.menu-text {
    position: absolute;
    font-size: larger;
    padding-top: 25px;
    padding-left: 50px;
  }


.menu-text-details{
    display: flex;
    flex-direction: column;
    line-height: 200%;
}

.menu-one{
    display: flex;
    flex-direction: row; 
}

.menu-text-blod{
    font-weight: bold;
    padding-right: 10px;
}

.img{
    opacity: 20%;
}


.crop-chicken {
    width: 1440px; 
    height: 600px; 
    overflow: hidden;
    border: 3px solid white;
}

.crop-beef {
    width: 1440px; 
    height: 400px; 
    overflow: hidden;
    border: 2px solid white;
}

.crop-seafood {
    width: 1440px; 
    height: 600px; 
    overflow: hidden;
    border: 3px solid white;
}

.crop-vege {
    width: 1440px; 
    height: 570px; 
    overflow: hidden;
    border: 2px solid white;
}

.crop-calzone {
    width: 1440px; 
    height: 830px; 
    overflow: hidden;
    border: 3px solid white;
}

.crop-salad {
    width: 1440px; 
    height: 600px; 
    overflow: hidden;
    border: 2px solid white;
}
