.top{
    background: rgb(228, 178, 120);
}

.top-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 25px;
    font-family: Lato;
    color: black;
}

.top-text-1:hover{
    color: papayawhip;
    text-decoration: underline;
    cursor: pointer;
}

.homepage{
    width: auto;
    display: flex;
    flex-direction: column;
}

.gti{
    font-family: Merriweather;
    font-size: 60px;
    letter-spacing: 15px;
    text-align: center;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.description-img{
    padding-left: 150px;
}

.description-img-1{
    padding-right: 150px;
}

.description-text{
    text-align: center;
    font-size: 200%;
    padding-right: 100px;
    padding-left: 100px;
}

.description-text-1{
    font-family: Merriweather;
    font-size: 35px;
    letter-spacing: 2px;
}

.description-text-2{
    font-family: Lato;
    font-size: 35px;
    letter-spacing: 2px;
}

.end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    background: rgb(228, 178, 120);
}

.frist{
    font-family: Lato;
    font-size: 25px;
    font-weight: bold;
}

.second{
    font-family: Lato;
    font-size: 20px;
}

.end-text-right{
    font-family: Lato;
    font-size: 30px; 
    padding: 40px;   
}

.end-text-right:hover{
    color: papayawhip;
    text-decoration: underline;
    cursor: pointer;
}